anthropic==0.46.0
chromadb==0.6.3
emoji==2.14.1
fastapi==0.115.8
langchain==0.3.18
langchain-chroma==0.2.2
langchain-community==0.3.17
langchain-core==0.3.34
langchain-openai==0.3.5
langchain-text-splitters==0.3.6
langgraph==0.2.71
numpy==1.26.4
pandas==2.2.3
pydantic==2.10.6
uvicorn==0.34.0